@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.myBtn {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  padding: 13px 30px;
  outline: none;
  transition: background-color 0.2s ease-out;
}

a.active {
  color: #34d399;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border-radius: 9999px !important;
  background-color: #38bdf8 !important;
  opacity: 0.5 !important;
  transition: all 0.3s ease-in-out !important;
}

.swiper-pagination-bullet-active {
  width: 16px !important;
  height: 16px !important;
  background-color: #ffb300 !important;
  opacity: 1 !important;
  transform: scale(1.1) !important;
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@theme {
  --color-primary: #031320;
  --color-secondary: #38bdf8;
  --color-accent: #34d399;
  --color-green: #006241;
  --color-yellow: #ffb300;
  --color-warrning: #ea4335;

  --animate-vibrate: vibrate 0.4s ease-in-out;
  @keyframes vibrate {
    0%,
    100% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      transform: translateX(5px);
    }
    60% {
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(5px);
    }
  }
}
